@charset "utf-8";
body{
    background-color: grey;
}

h1{font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px;
    text-align: auto;
    box-sizing: content-box;
    width: 150px;
    height: 25px;
    padding: 20px; 
    padding-left: 50px;
    background-color: grey; 
    border: 5px solid #575757;
    }

.abpic{
    float: right;
}

.trophypic{
    float: left;
}

.one{box-sizing: content-box;
    padding: 15px 750px 75px 50px;
    text-align: left;
    margin: right 400px;
    font-size: large;}

    
.trop{font-family: 'Times New Roman', Times, sans-serif;
    color: black;
    font-size: xx-large;
    padding-left: 75px;
    padding-bottom: 30px;
      }

.contact{
  clear: left;
  font-size: xx-large;
  padding-left: 75px;
}

.cont{
    box-sizing: content-box;
    width: 700px;
    height: 250px;
    padding: 20px; 
    background-color: #525558; 
    border: 3px solid#525558 ;
}
.managerpic{
    padding-left: 15px;
    float: left;
}

.manager{
    padding-left: 15px;
    font-weight: bold;
    font-size: x-large;
    color: #d6b5ab;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
       
