@charset "utf-8";
body{
    background-color: grey;
}

h1{font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px;
    text-align: auto;
    box-sizing: content-box;
    width: 150px;
    height: 25px;
    padding: 20px; 
    padding-left: 50px;
    background-color: grey; 
    border: 5px solid #575757;
    }

.abpic{
    float: right;
}

.trophypic{
    float: left;
}

.one{box-sizing: content-box;
    padding: 15px 750px 75px 50px;
    text-align: left;
    margin: right 400px;
    font-size: large;}

    
h2{font-family: 'Times New Roman', Times, sans-serif;
    color: whitesmoke;
    font-size: x-large;
    text-shadow: 1px 1px;
    box-sizing: content-box;
    width: 200px;
  height: 50px;
  padding: 20px;  
  background-color: grey; 
  border: 5px solid #575757;
      }


       
