/*Image section*/
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container button#left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  margin-left: 20px;
}

.image-container button#right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  margin-right: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}