.content {
    flex: 1;
    width: 100%;
  }

  .photorow{
    justify-content: center;
    align-items: center;
    display:flex;
    text-align: center;
    width: 100%;
    margin-top:20px;
    margin-bottom: 20px;
  }
  
  .row{
    justify-content: center;
    align-items: center;
    display:flex;
    text-align: center;
    width: 100%;
    margin-top:100px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size :28px;
    font-style: italic;
  }

  h2{
    font-size :22px;
    font-style: monospace;
    margin-top:15px;
  }
  
  .column{
    margin: 0;
    padding:10px;
    width:40%;
  }
  
  .photorow li{
    width: 50%;
    font-size: 18px;
    list-style: none;
    margin-top: 10px;
    margin-left: 25%;
  }

  .photorow li:first-child {
    font-weight: bold;
    text-align: center;
  }
  
  .photorow li:not(:first-child) {
    text-align: left;
  }
  
  .photorow li:not(:first-child)::marker {
    content: "✅";
    margin-right: 5px; 
    font-weight: normal;  
  }
  
  button{
    background-color:#7fd17b;
    border: white solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.5s ease;
    
 }
  
   button:hover{
    background-color: #7fd17b;
    border-color:white;
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;   
 }

 ol.marker {
    list-style-type: lower-roman;
    margin-left: 0;
    padding-left: 1.5em;
  }
  
  ol.marker li {
    margin: 0.5em 0;
    padding-left: 0.5em;
    text-indent: -0.5em;
  }
 


  
  
 
  
  
  
