.content {
    flex: 1;
    overflow: auto;
    background: white;
    position:relative;
    margin-top: 100px;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    border: 1px solid black; 
   
  }
  .td {
    padding: 10px;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
  }
  
  .tr {
    padding: 10px;
    text-align: center;
  }
  .th{
    padding: 10px;
    text-align: center;
    width:100px;
    color:black;
    background-color: #FFDB58;
    box-sizing: border-box;
  }
  
  .td.clicked {
    background-color: rgb(186, 186, 186);
    color:white;
  }
 
  .td:hover
  {
    background-color: rgb(212, 207, 207);
    cursor: pointer;
  }
    .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 
  
  .column {
    flex-basis: 50%;
    padding: 10px;
  }

  .profile-row {
    display: flex;
    flex-direction: row;
  }

  .profile-column{
    flex: 1;
    width:70vw;
    margin-left:5%; 
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .profile-img{
    width:10rem;
    margin:10px;
  }

  .profile-data{
    font-size: 18px;
    margin-top: 15px;
  }
  
    .available-slot {
    position: fixed;
    margin-left: 38%;
    top: 0;
    width: 50%;
    height: 100%; 
    display: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
   
  }
  
  .modal-content {
    background-color: white;
    width: 60%;
    padding: 20px;
    margin-left:300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    justify-content: center;
    align-items: center;
  
  }
  
  .modal-content h1 {
    margin-top: 0;
    font-size: small;
  }
  
  .modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .modal-content .button{
    background-color: #FFDB58;
    border: #FFDB58 solid 2px;
    border-radius: 15px;
    font-size: 14px;
    font-weight:bold;
  }

  .modal-content .button:hover{
    background-color: #FFDB58;
    border-color: #FFDB58;
    border-radius: 15px;
    color:white;
    font-size: 14px;
    font-weight:bold;
    cursor: pointer;
  }
  

  #book-slot-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  #book-slot-modal .content {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 60%;
    max-height: 80%;
    overflow: auto;
  }

  #book-slot-modal .button {
    background-color: #FFDB58;
    border:#FFDB58 2px;
    border-radius: 15px;
    padding:2px;
    font-size: 18px;
    font-weight:bold;
  }
  
  #book-slot-modal .button:hover{
    background-color:rgb(186, 186, 186);
    border-color: #FFDB58;
    border-radius: 15px;
    color:white;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
  }
  
  #book-slot-modal .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #book-slot-modal .close:hover,
  #book-slot-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #book-slot-modal .p{
    font-size:16px;
    margin-top:10px
  }  
  
  #book-slot-modal .div{
    border-width: 2px;
    border-color: black;
    background-color:  
    #d3d3d3;padding:10px
  }
