body {
  margin: 0;
  padding: 0;
}

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.logo a {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  margin: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  background-color: darkgrey;
  color: black;
}

/*Image section*/
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container button#left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  margin-left: 20px;
}

.image-container button#right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  margin-right: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/*Footer Section*/
footer {
  background-color: grey;
  color: black;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  justify-content: space-between;
}

.footer-section {
  flex-basis: 25%;
}

.footer-section h3 {
  margin: 10px;
}

.footer-section p {
  margin: 5px;
}

.footer-section ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  text-decoration: none;
  color: black;
}

.footer-bottom {
  background-color: black;
  color: white;
  width: 100%;
}
